@font-face {
	font-family:"CocoGothic";
 	src: url(../etc/fonts/CocoGothic-BoldItalic_trial.ttf) ;
}

@font-face{
	font-family:"CocoGothic-Light";
	src: url(../etc/fonts/CocoGothic-Light_trial.ttf);
}
@font-face {
	font-family:"Libel"; 	
 	src:url(../etc/fonts/libel-suit-rg_0.ttf);
 }
 @font-face {
    font-family: "Avantgarde";
    src: url(../etc/fonts/AVANTGARDE/itc-avant-garde-gothic-std-book-58957161d80eb.otf);
}

body{
	background-image: url(../img/fondo.jpg);
	background-attachment: fixed;
}

/********************** Dropdown ***************************/
.icono-xs{
	display:none;
}
.dropdown {
  display: inline-block;
  position: relative;
  left:23em;
  top:7em;
}

.dd-button {
  display: inline-block; 
  background-color: #092053;
  cursor: pointer;
  white-space: nowrap;
}

.dd-input {
  display: none;
}

.dd-menu {
	font-size: 2em;
	width:25em;
	position: absolute;
	z-index: -1;
	top:3.3em;
	right:-20px;
	border-radius: 4px;
	padding: 0;  
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	background-color:rgba(9,32,83,1);
	list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
 
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li a {
  display: block;

}


.InicioResponsive:hover{
	background-color:rgba(137,6,68,1);
	color:#F3E4AE;
	text-shadow: none;


}
.MenuResponsive:hover{
	background-color:rgba(243,228,174,1);
	color:#092053;
	text-shadow: none;
}
.LocalesResponsive:hover{
	background-color:rgba(244,157,82,1);
	color:#092053;
	text-shadow: none;
}
.ContactoResponsive:hover{
	background-color:rgba(137,6,68,1);
	color:#F3E4AE;
	text-shadow: none;
}
.PedidosResponsive:hover{
	background-color:rgba(243,228,174,1);
	color:#092053;
	text-shadow: none;
}
/*****************************NAVEGADOR INICIO*************************************/

#baner h1{
	position:absolute;
	top:0.7em;
	left:1em;
	z-index: 2;									/*titulo*/
}

nav div img{
	float: right;  								 /*logo*/   

}

#baner a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}

.container{
	margin-top:2em;					/*margen superior container*/
}

#baner{
	background-color: #092053;
	border-radius:1em;
	height:190px;			/*rectangulo azul*/
	font-family:"Libel";
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px black;
	box-shadow: 2px 2px 5px black;

}

.text-cream{
	color:#F3E4AE;				
	font-size:1.5em;
}

.text-bordo{
	color:#890644;					/*colores titulo*/
	font-size:1.5em;
}

.text-naranja{
	color:#F49D48;
	font-size:1.5em;
}

.Idioma{
	position:absolute;
	z-index:2;					/*div idiomas*/
	top:8em;
	left:2.7em;
}

.barra:hover{
	color:#F3E4AE;
}

.TextSizeMedio{
	font-size:2vw;		

}

.ListaNavegador{
	width:95%;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	position:absolute;					/*div todas las solapas + links*/
	top:13em;
	left:2em;
	z-index:-1;
	font-family:"Libel";
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px black;

}

.ItemsNavegador{
	font-size:3em;
	width:18%;
	height:4em;					/*div individual cada solapa*/
	border-radius:0.3em;
	padding:1em;
	position:relative;
	bottom:130px;
	box-shadow: 2px 2px 5px black;
}
.ItemsNavegador:hover{
	position:relative;			/*hover del div individual cada solapa*/
	bottom:100px; 
}

.ItemsNavegador.Menu{
	position:relative;			/*BAJA SOLAPA MENU*/
	bottom:100px; 
}

.Pedidos:hover{
	position:relative;			/*hover del div individual solapa PEDIDOS que es mas larga*/
	bottom:35px;
}


.Inicio{
	background-color:#890644;
	text-align:center;					
}
.Menu{
	background-color:#F3E4AE;
	text-align:center;
}

.Locales{
	background-color:#F49D48;		/*colores solapas*/
	text-align:center;
}

.Contacto{
	background-color:#890644;
	text-align:center;
}

.Pedidos{
	background-color:#F3E4AE;
	text-align:center;

}

.linkNav{
	color:white;
	position:relative;			/*acomodo links en solapa*/
	top:1.5em;
	text-decoration: none;
}

.linkNav a:hover, .linkNav a:visited, .linkNav a:active{
	color:#0080BB;	
	text-decoration: none;
}


#PedidosLink{
	position:relative;			/*acomodo links en solapa pedidos por ser mas larga*/	
	top:0em;	
}


 @media (min-width:992px) and (max-width:1199px){
/*banner height:190px;	*/
.ItemsNavegador.Menu{
	position:relative;			/*BAJA SOLAPA MENU UN POCO MAS*/
	bottom:74px; 
}
.ItemsNavegador{
	font-size:2.5em;
	position:relative;
	bottom:110px;
	text-align: center;
	padding:auto;
}

.ItemsNavegador:hover{
	position:relative;
	bottom:75px; 

}

.Pedidos:hover{
	position:relative;	
	bottom:20px;
}

.linkNav{
	position:relative;
	right:0.1em;

}
}

@media (max-width:992px){

.ListaNavegador{
display:none;
}

.Idioma{
	top:11em;
	left:6vw;
}

#baner h1{
	position:absolute;
	left:11em;
	font-size:2em;
}

.logo{
	float:left;
}

}

@media (max-width:768px) and (min-width:739px){

.dropdown {

 top:12vw;
 left:42vw;
}

#baner h1{
	position:absolute;
	left:12em;
	font-size:3.5vw;
}

.logo{
	width:40vw;
}


#baner{
	width:94vw;
	height:25vw;	
}

.dd-menu {
	
	width:92vw;
	top:13vw;
	right:-2vw;
}


.Idioma{
	top:20vw;
	left:6vw;
}

}


@media (max-width:740px)  and (min-width:669px){
.logo{
	width:40vw;
}
.dropdown {

 top:12vw;
 left:42vw;
}

#baner h1{
	position:absolute;
	left:12em;
	font-size:3.5vw;
}

#baner{
	width:94vw;
	height:25vw;	
}

.dd-menu {	
	width:90vw;
	top:12.5vw;
	right:-0.5vw;

}
.Idioma{
	top:20vw;
	left:6vw;
}

}
@media (max-width:668px) and (min-width:590px) {

.logo{
	width:40vw;
}
.dropdown {

 top:12vw;
 left:42vw;
}

#baner h1{
	position:absolute;
	left:12em;
	font-size:3.5vw;
}

#baner{
	width:94vw;
	height:25vw;	
}

.dd-menu {	
	width:90vw;
	top:12.5vw;
	right:0.5vw;

}
.Idioma{
	top:20vw;
	left:6vw;
}

}
@media (max-width:589px) and (min-width:544px) {

.logo{
	width:40vw;
}
.dropdown {

 top:12vw;
 left:40vw;
}

#baner h1{
	position:absolute;
	left:12em;
	font-size:3.5vw;
}

#baner{
	width:94vw;
	height:25vw;	
}

.dd-menu {	
	width:90vw;
	top:12.5vw;
	right:0vw;

}
.Idioma{
	top:20vw;
	left:6vw;
}

}
@media (max-width:543px) and (min-width:476px){

.dd-button{
	width:10vw;
}

#baner{
	height:6em;
	min-width:408px;
}
.dropdown { 
  left:0vw;
   	top:0.5em;
	margin-left:59vw;
}

.logo{
	width:8em;
}

#baner h1{
	position:absolute;
	left:10em;
	top:0em;
	font-size:3vw;
}

.dd-menu {
	width:89vw;
	top:13vw;
	right:0vw;
	font-size:5vw;
	padding-top:2.5vw;
	
	
}
.Idioma{
	top:11vw;
	left:40vw;
}

}

@media (max-width:475px) and (min-width:429px){

.dd-button{
	width:10vw;
}
#baner{
	height:6em;
	min-width:408px;

	
}
.dropdown {
  left:57vw;
  top:0.5em;

}

.logo{
	width:8em;
}

#baner h1{
	position:absolute;
	left:10em;
	top:0em;
	font-size:3vw;
}

.dd-menu {
	
	width:86vw;
	top:13vw;
	right:2vw;
	font-size:5vw;
	padding-top:5vw;
}
.Idioma{
	top:11vw;
	left:40vw;
}

}


@media (max-width:428px) and (min-width:361px){


.dd-button{
	width:0.5vw;
}

#baner{
	height:6em;
	min-width:300px;	
}

.dropdown {
  left:65vw;
  top:0.5em;

}

.logo{
	width:26vw;
}

#baner h1{

	position:absolute;
	left:9.8em;
	top:0em;
	font-size:2.9vw;
}

.dd-menu {
	
	width:91vw;
	top:13vw;
	right:-1vw;
	font-size:5vw;
	padding-top:8.5vw;
}
.Idioma{
	top:14vw;
	left:10vw;
}
}
@media (max-width:360px) and (min-width:321px){

.icono{
	display:none;
}
.icono-xs{
	display:inline-block;
}
.dd-button{
	width:0.1vw;
}

#baner{
	height:5em;
	min-width:300px;	
}

.dropdown {
  left:65vw;
  top:0.5em;

}

.logo{
	width:26vw;
}

#baner h1{

	position:absolute;
	left:10.5em;
	top:0em;
	font-size:2.9vw;
}

.dd-menu {
	
	width:85vw;
	top:13vw;
	right:2.5vw;
	font-size:5vw;
	padding-top:8vw;
}
.Idioma{
	top:14vw;
	left:10vw;
}
}
@media (max-width:320px) and (min-width:301px){

.icono{
	display:none;
}
.icono-xs{
	display:inline-block;
}
#baner{
	height:5em;
	min-width:200px;	
}
.dropdown {
  left:45vw;
  top:0.5em;

}
.logo{
	width:6em;

}

#baner h1{
	position:absolute;
	left:13em;
	top:0em;
	font-size:2.4vw;
}

.dd-menu {
	
	width:250px;
	top:2em;
	right:1vw;
	font-size:1em;
	padding-top:3em;
}
.Idioma{
	top:14vw;
	left:10vw;
}
}

@media (max-width:300px) and (min-width:260px){

.icono{
	display:none;
}
.icono-xs{
	display:inline-block;
}
#baner{
	height:5em;
	min-width:180px;	
}
.dropdown {
  left:36vw;
  top:0.5em;

}
.logo{
	width:6em;

}

#baner h1{
display: none;
}

.dd-menu {
	width:220px;
	top:2em;
	right:-1vw;
	font-size:1em;
	padding-top:3em;
}
.Idioma{
display:none;
}
}
@media (max-width:259px) and (min-width:210px){

.icono{
	display:none;
}
.icono-xs{
	display:inline-block;
}
#baner{
	height:5em;
	min-width:200px;	
}
.dropdown {
  left:30vw;
  top:0.5em;

}
.logo{
	width:6em;

}

#baner h1{
display: none;
}

.dd-menu {
	width:190px;
	top:2em;
	right:2vw;
	font-size:1em;
	padding-top:3em;
}
.Idioma{
display:none;
}
}
@media (max-width:209px){
.icono{
	display:none;
}
.icono-xs{
	display:inline-block;
}
#baner{
	height:5em;
	min-width:180px;	
}
.dropdown {
  left:3em;
  top:0.5em;

}
.logo{
	width:6em;

}

#baner h1{
display: none;
}

.dd-menu {
	
	width:160px;
	top:2em;
	right:3vw;
	font-size:1em;
	padding-top:3em;
}
.Idioma{
display:none;
}
}




/*****************************NAVEGADOR FIN, SI...JURO QUE ES EL FIN*************************************/

/*-------------CSS DE FOOTER-------------- */
footer {
    background-color: #092053;
    margin-top:1900px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
}
.alineacion_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    font-size: 16px;
}
footer a {
    margin: 10px;
}
.copyright {
    font-size: 10px;
    text-align: center;
}
.alto_footer {
	margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
p {
    font-family: "Avantgarde";
}
/*---------------MEDIA QUERIES FOOTER--------------*/
@media (max-width:476px){
    .alineacion_footer {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }

}


@media (max-width: 768px) {
    body {
        position: relative;
    }
    .redes_mobile {

        position: fixed;
        right: 0px;
        top: 300px;
        z-index: 1;
        background-color: #092053;
        height: 200px;
        border-radius: 5px;
        width: 55px;
        transition: right ease-out 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .imagenes_chicas{width: 40px;}
    
    .redes_mobile a {
        display: block;
        padding: 0;
        margin: 0;
        
    }
    
    .media1{margin-right: 0px;
            margin-left: 0px;
    }
    .media2{padding-right: 0px;
            padding-left: 0px;
    } 
    
}



@media (max-width: 429px) and (min-width:361px) {
    body {
        position: relative;
    }
    .redes_mobile {
        position: fixed;
        right: 0px;
        top: 300px;
        background-color: #092053;
        height: 200px;
        border-radius: 5px;
        width: 55px;
        z-index: 1;
        transition: right ease-out 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .imagenes_chicas{width: 40px;}
    
    .redes_mobile a {
        display: block;
        padding: 0;
        margin: 0;

    } 
    
    .alineacion_footer {
        font-size: 12px;

    }
    .copyright {
        font-size: 12px;
    }
    .media1{margin-right: 0px;
            margin-left: 0px;}
    .media2{padding-right: 0px;
            padding-left: 0px;}  
          
 }   
 @media (max-width:360px){
    .alineacion_footer {
        font-size: 12px;
        
    }
    .copyright {
        font-size: 12px;
    }


}

@media (max-width:300px){
	 .alineacion_footer {
        font-size: 12px;
        
    }
    .copyright {
        font-size: 12px;
    }

}


/*****************************INICIO MAIN*************************************/


.main{
	background-color: #092053;
	border-radius: 1em;
	margin: 0 auto;
	margin-top:120px;
	padding: 15px 15px;
	position: relative;
	font-family: "Libel";
	letter-spacing: 0.1em;
	font-size: 20px;
	height: 600px;
}

.cat{
	color: white;
	list-style-type: none;
	padding: 15px 10px;
	width: 90%;
}

.cat ul{
list-style-type: none;
}

.cat:hover{
	background-color:#890644;
}

.sub{
	width: 76.5%;
	height: 95%;
	border-radius: 1em;
	position: absolute;
	z-index: 10;
	top: 15px;
	left: 200px;
	list-style: none;
	background-color:#890644;
	display: none;
	padding-top: 15px;
}

.cat:hover .sub {
	display: block;
}

.drop{
	text-align: center;
	background-color:#F3E4AE;
	padding: 15px;
	margin-top: 14px;
	width: 95%;
	display: none;
	position: absolute;
	z-index: 20;
	border-radius: 0.5em;
}

.d1{
	top: 130px;
}
.d2{
	top: 102px;
}
.d3{
	top: 74px;
}
.d4{
	top: 46px;
}
.d5{
	top: 18px;
}


h3 {
	color: #890644;
	font-size: 18px;
}

.drop img{
	width: 70%;
	height: auto;
}

.drop p {
	color: black;
	font-size: 12px;
}
.cat li{
	position: relative;
}
.cat li:hover{
	color:#F3E4AE;
}
.cat li:hover .drop {
	display: block;
}
