/*---------------FUENTES--------------------*/
@font-face {
    font-family: "Libel";
    src: url(../fonts/libel-suit-rg_0.ttf);
}
@font-face {
    font-family: "Avantgarde";
    src: url(../fonts/AVANTGARDE/itc-avant-garde-gothic-std-book-58957161d80eb.otf);
}
/*-------------------BODY-------------------*/
body {
    background-image: url("../img/Fondo.jpg");
    background-attachment: fixed;
}
/*-------------CSS DE FOOTER-------------- */
footer {
    background-color: #092053;
    margin-top: 600px;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
}
.alineacion_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    font-size: 16px;
}
footer a {
    margin: 10px;
}
.copyright {
    font-size: 10px;
    text-align: center;
}
.alto_footer {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
p {
    font-family: "Avantgarde";
}
/*---------------MEDIA QUERIES--------------*/
@media (max-width:476px){
    .alineacion_footer {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }

}


@media (max-width: 768px) {
    body {
        position: relative;
    }
    .redes_mobile {
        position: fixed;
        right: -50px;
        top: 255px;
        z-index: 1;
        background-color: #092053;
        height: 250px;
        border-radius: 5px;
        width: 85px;
        transition: right ease-out 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .redes_mobile:hover {
            right: 0;
    }
    .redes_mobile a {
        display: block;
        padding: 0;
        margin: 0;
    }
    .media1{margin-right: 0px;
            margin-left: 0px;}
    .media2{padding-right: 0px;
            padding-left: 0px;} 
    }
}



@media (max-width: 429px) and (min-width:361px) {
    body {
        position: relative;
    }
    .redes_mobile {
        position: fixed;
        right: -50px;
        top: 255px;
        background-color: #092053;
        height: 250px;
        border-radius: 5px;
        width: 85px;
        z-index: 1;
        transition: right ease-out 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .redes_mobile:hover {
            right: 0;
    }
    .redes_mobile a {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    .alineacion_footer {
        font-size: 12px;

    }
    .copyright {
        font-size: 12px;
    }
    .media1{margin-right: 0px;
            margin-left: 0px;}
    .media2{padding-right: 0px;
            padding-left: 0px;}  
          
 }   
 @media (max-width:360px){
    .alineacion_footer {
        font-size: 12px;
        
    }
    .copyright {
        font-size: 12px;
    }


}

@media (max-width:300px){
	 .alineacion_footer {
        font-size: 12px;
        
    }
    .copyright {
        font-size: 12px;
    }

}
    


