
/*---------------FUENTES--------------------*/
@font-face {
    font-family: "Libel";
    src: url(../fonts/libel-suit-rg_0.ttf);
}
@font-face {
    font-family: "Avantgarde";
    src: url(../fonts/itc-avant-garde-gothic-std-book-58957161d80eb.otf);
}
/*-------------------BODY-------------------*/
body {
    background-image: url("../img/Fondo.jpg");
    background-attachment: fixed;
}
/********************** Dropdown ***************************/
.icono-xs{
    display:none;
}
.dropdown {
  display: inline-block;
  position: relative;
  left:23em;
  top:7em;
}

.dd-button {
  display: inline-block; 
  background-color: #092053;
  cursor: pointer;
  white-space: nowrap;
}

.dd-input {
  display: none;
}

.dd-menu {
    font-size: 2em;
    width:25em;
    position: absolute;
    z-index: -1;
    top:3.3em;
    right:-20px;
    border-radius: 4px;
    padding: 0;  
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color:rgba(9,32,83,1);
    list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
 
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li a {
  display: block;

}


.InicioResponsive:hover{
    background-color:rgba(137,6,68,1);
    color:#F3E4AE;
    text-shadow: none;


}
.MenuResponsive:hover{
    background-color:rgba(243,228,174,1);
    color:#092053;
    text-shadow: none;
}
.LocalesResponsive:hover{
    background-color:rgba(244,157,82,1);
    color:#092053;
    text-shadow: none;
}
.ContactoResponsive:hover{
    background-color:rgba(137,6,68,1);
    color:#F3E4AE;
    text-shadow: none;
}
.PedidosResponsive:hover{
    background-color:rgba(243,228,174,1);
    color:#092053;
    text-shadow: none;
}
/*------------CSS DEL NAVBAR----------------*/

h1{
    position:absolute;
    top:0.7em;
    left:1em;
    z-index: 2;                                 /*titulo*/
}

nav div img{
    float: right;                                /*logo*/   

}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.container{
    margin-top:2em;                 /*margen superior container*/
}

#baner{
    background-color: #092053;
    border-radius:1em;
    height:190px;           /*rectangulo azul*/
    font-family:"Libel";
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;

}

.text-cream{
    color:#F3E4AE;              
    font-size:1.5em;
}

.text-bordo{
    color:#890644;                  /*colores titulo*/
    font-size:1.5em;
}

.text-naranja{
    color:#F49D48;
    font-size:1.5em;
}

.Idioma{
    position:absolute;
    z-index:2;                  /*div idiomas*/
    top:8em;
    left:2.7em;
}

.barra:hover{
    color:#F3E4AE;
}

.TextSizeMedio{
    font-size:2vw;      

}

.ListaNavegador{
    width:95%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    position:absolute;                  /*div todas las solapas + links*/
    top:13em;
    left:2em;
    z-index:-1;
    font-family:"Libel";
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;

}

.ItemsNavegador{
    font-size:3em;
    width:18%;
    height:4em;                 /*div individual cada solapa*/
    border-radius:0.3em;
    padding:1em;
    position:relative;
    bottom:130px;
    box-shadow: 2px 2px 5px black;
}
.ItemsNavegador:hover{
    position:relative;          /*hover del div individual cada solapa*/
    bottom:100px; 
}

.ItemsNavegador.Inicio{
    position:relative;          /*BAJA SOLAPA INICIO*/
    bottom:100px; 
}

.Pedidos:hover{
    position:relative;          /*hover del div individual solapa PEDIDOS que es mas larga*/
    bottom:35px;
}


.Inicio{
    background-color:#890644;
    text-align:center;                  
}
.Menu{
    background-color:#F3E4AE;
    text-align:center;
}

.Locales{
    background-color:#F49D48;       /*colores solapas*/
    text-align:center;
}

.Contacto{
    background-color:#890644;
    text-align:center;
}

.Pedidos{
    background-color:#F3E4AE;
    text-align:center;

}

.linkNav{
    color:white;
    position:relative;          /*acomodo links en solapa*/
    top:1.5em;
    text-decoration: none;
}

.linkNav a:hover, .linkNav a:visited, .linkNav a:active{
    color:#0080BB;  
    text-decoration: none;
}


#PedidosLink{
    position:relative;          /*acomodo links en solapa pedidos por ser mas larga*/   
    top:0em;    
}

/*-------------MAIN-------------- */

.centrad{
    align-items: center;
}

.wawa{
    
    width: 99%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.carru{
    
    width: 99%;
    margin: 0 auto;
    margin-top:70px;
    margin-bottom: 60px;
    border-radius: 5px;
    
}

.espcar {
    border-radius: 5px;
}


#quienes{
    background-color: #fff3c9;
    color: #1c1266;
    font-family: "Libel";
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 15px 0px 0px;
    border-radius: 1em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.qui{ 
    font-size: 1.8em;
    text-align: center;
 }

.po{
    display: flex;
    text-align: center;
    font-size: 1.2em;
}


.certificado{
    background-color: #9e1a58;
    color: #fff3c9;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #b29600;
    border-radius: 1em;
}


.figu{
    width: 130px;
    height: 130px;
    background-color: #fff3c9;
    border-radius: 50%;
    border-style: solid;
    border-color: #b29600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -60px;
    left: 30%;


}

#peta{
 width: 100px;
 height: 100px;
 margin-bottom: 15px;

}

.pipi{ 
    font-size: 20px;
    display: flex;
    text-align: center;
    position: relative;
    top: -50px;
}

.articul{
    border-radius: 1em;
}

.imag{
    border-radius: 5px;
}









/*-------------CSS DE FOOTER-------------- */
footer {
    background-color: #092053;
    margin-top: 600px;
    margin: 0 auto;
    border-radius:1em;
    color: white;
}
.alineacion_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    font-size: 16px;
}
footer a {
    margin: 10px;
}
.copyright {
    font-size: 10px;
    text-align: center;
}
.alto_footer {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
p {
    font-family: "Avantgarde";
}


/*---------------MEDIA QUERIES--------------*/

@media (min-width: 992px) and (max-width: 1199px) {
    .ItemsNavegador {
        font-size: 2.5em;
        position: relative;
        bottom: 110px;
        text-align: center;
        padding: auto;
    }
    .ItemsNavegador:hover {
        position: relative;
        bottom: 75px;
    }
    .Pedidos:hover {
        position: relative;
        bottom: 20px;
    }
    .linkNav {
        position: relative;
        right: 0.1em;
    }
    .ItemsNavegador.Inicio{
        position:relative;          /*BAJA SOLAPA INICIO*/
        bottom:80px; 
    }

}
@media (max-width: 992px) {
            .ListaNavegador{
        display:none;
        }

        .Idioma{
            top:11em;
            left:6vw;
        }

        h1{
            position:absolute;
            left:11em;
            font-size:2em;
        }

        .logo{
            float:left;
        }
    
    
}
@media (max-width: 768px) {
    
    .dropdown {

     top:12vw;
     left:42vw;
    }

    h1{
        position:absolute;
        left:11em;
        font-size:3.5vw;
    }

    .logo{
        width:40vw;
    }


    #baner{
        height:25vw;    
    }

    .dd-menu {
        
        width:92vw;
        top:13vw;
        right:-1vw;
    }


    .Idioma{
        top:20vw;
        left:6vw;
    }

 
    /*-------Queries del footer--------*/
    body {
        position: relative;
    }
    .redes_mobile {
        position: fixed;
        right: 0px;
        top: 300px;
        z-index: 1;
        background-color: #092053;
        height: 200px;
        border-radius: 5px;
        width: 55px;
        transition: right ease-out 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .imagenes_chicas{width: 40px;}
    
    .redes_mobile a {
        display: block;
        padding: 0;
        margin: 0;
    }
    .media1{margin-right: 0px;
            margin-left: 0px;
    }
    .media2{padding-right: 0px;
            padding-left: 0px;
    } 
/* -- main -- */
    .carru {
        margin-top: 30px;
        margin-bottom:70px;
    }
    .qui{
        padding-top: 20px;
    }
}

@media (max-width:558px){

    .dd-button{
        width:10vw;
    }

    #baner{
        height:6em;
        min-width:408px;
    }
    .dropdown {
      left:60vw;
      top:0.5em;

    }

    .logo{
        width:8em;
    }

    h1{
        position:absolute;
        left:10em;
        top:0em;
        font-size:3vw;
    }

    .dd-menu {
        
        width:91vw;
        top:13vw;
        right:-2.5vw;
        font-size:5vw;
        padding-top:3.8vw;
    }
    .Idioma{
        top:11vw;
        left:40vw;
    }

/* -- main -- */
    .carru {
        margin-top: 30px;
        margin-bottom:30px;
    }
    .wawa{
        flex-direction: column;
    }  
    .figu{
        left: 35%;
    } 
    .certificado {
        margin-top: 60px;
    }
    .qui{
        padding-top: 20px;
    }

}
    @media (max-width:476px){

    .dd-button{
        width:10vw;
    }

    #baner{
        height:6em;
        min-width:408px;

        
    }
    .dropdown {
      left:57vw;
      top:0.5em;

    }

    .logo{
        width:8em;
    }

    h1{
        position:absolute;
        left:10em;
        top:0em;
        font-size:3vw;
    }

    .dd-menu {
        
        width:91vw;
        top:13vw;
        right:-1vw;
        font-size:5vw;
        padding-top:5vw;
    }
 /*-----------Quierie de footer--------*/  
    .alineacion_footer {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }

 /* -- main -- */
    .carru {
        margin-top: 30px;
        margin-bottom:30px;
    }
    .wawa{
        flex-direction: column;
    } 

    .figu{
        left: 35%;
    } 
    .certificado {
        margin-top: 60px;
    }
    .qui{
        padding-top: 20px;
    }

}


@media (max-width: 429px) and (min-width:361px) {
    
        .dd-button{
        width:0.5vw;
    }

    #baner{
        height:6em;
        min-width:300px;    
    }

    .dropdown {
      left:65vw;
      top:0.5em;

    }

    .logo{
        width:26vw;
    }

    h1{

        position:absolute;
        left:9.8em;
        top:0em;
        font-size:2.9vw;
    }

    .dd-menu {
        
        width:91vw;
        top:13vw;
        right:-1vw;
        font-size:5vw;
        padding-top:8.5vw;
    }


    /*--------Queries del footer---------*/
    body {
        position: relative;
    }
    .redes_mobile {
        position: fixed;
        right: 0;
        top: 300px;
        background-color: #092053;
        height: 200px;
        border-radius: 5px;
        width: 55px;
        z-index: 1;
        transition: right ease-out 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .imagenes_chicas{width: 40px;}
    
    .redes_mobile a {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    .alineacion_footer {
        font-size: 12px;

    }
    .copyright {
        font-size: 12px;
    }
    .media1{margin-right: 0px;
            margin-left: 0px;}
    .media2{padding-right: 0px;
            padding-left: 0px;}  
     
/* -- main -- */
    .carru {
        margin-top: 30px;
        margin-bottom:30px;
    }
    
    .wawa{
        flex-direction: column;
    }  
    .figu{
        left: 32%;
    } 
    .certificado {
        margin-top: 60px;
    }
    .qui{
        padding-top: 20px;
    }
 }   
    

@media (max-width:360px){

    .icono{
        display:none;
    }
    .icono-xs{
        display:inline-block;
    }
    #baner{
        height:5em;
        min-width:293px;    
    }
    .dropdown {
      left:55vw;
      top:0.5em;

    }
    .logo{
        width:6em;

    }

    h1{
        position:absolute;
        left:16em;
        top:0em;
        font-size:2vw;
    }

    .dd-menu {
        
        width:91vw;
        top:2em;
        right:-1vw;
        font-size:1em;
        padding-top:3em;
    }

    .alineacion_footer {
        font-size: 12px;
        margin:0px 5px;
    }
    .copyright {
        font-size: 12px;
    }

  
}

@media (max-width:300px){
    h1{
        display:none;
    }
    .Idioma{
        top:14vw;
        left:10vw;
    }
    .alineacion_footer {
        font-size: 12px;
        
    }
    .copyright {
        font-size: 12px;
    }
  
}
